<!-- Education and Work Experience Section -->
<section id="Eduation">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>EDUCATION</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p style="margin-left: 20px;" id="BSForLanguage">BS in Computer Science in Real-Time Interactive Simulation</p>
        <p style="font-size: 14px; margin-left: 20px;" id="SchoolForLanguage">Digipen Institue of Technology <span style="margin-left: 10px;">2018 - 2023</span></p>
        <p><br></p>
        <p style="margin-left: 20px;" id="BSForLanguageKor"></p>
        <p style="font-size: 14px; margin-left: 20px;" id="SchoolForLanguageKor"><span style="margin-left: 10px;"></span></p>
      </div>
    </div>
  </div>
</section>

<section class="success" id ="Work Experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>WORK EXPERIENCE</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p style="margin-left: 20px;" id="workForLanguage">Mickey Music Academy <span style="margin-left: 20px;">2020 - 2021</span></p>
        <p style="font-size: 14px; margin-left: 20px;" id="workDescriptionForLanguage">I worked as a piano assistant instructor at a music academy, instructing numerous students ranging from kindergarten to middle school. <br>Additionally, I assisted with various administrative tasks at the academy.</p>
    </div>
  </div>
</section>