<!-- Education and Work Experience Section -->
<section id="Eduation">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>EDUCATION</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p>BS in Computer Science in Real-Time Interactive Simulation </p>
        <p>Digipen Institue of Technoloy 2018 - 2023 </p>
      </div>
    </div>
  </div>
</section>

<section class="success" id ="Work Experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>WORK EXPERIENCE</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p>일한 경험 2018 - 2023 </p>
      </div>
    </div>
  </div>
</section>
