<!-- Education and Work Experience Section -->
<section id="Eduation">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>EDUCATION</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <div class="col-lg-12 col-lg-offset-2">
          <p style="font-size: 18px; margin-left: 18px;">BS in Computer Science in Real-Time Interactive Simulation</p>
          <p style="margin-left: 15px;">Digipen Institue of Technoloy <span style="margin-left: 10px;">2018 - 2023</span></p>
      </div>
    </div>
  </div>
</section>

<section class="success" id ="Work Experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>WORK EXPERIENCE</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-2">
        <p style="margin-left: 20px;">일한 경험 <span style="margin-left: 10px;">2018 - 2023</span></p>
        <p style="font-size: 14px; margin-left: 20px;">일 경험 추가 설명.</p>
      </div>
    </div>
  </div>
</section>
