<!DOCTYPE html>
<html>
{% include head.html %}

<!--<head>
  <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/800px-Apple_logo_black.svg.png">
</head>-->

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  
  {% include portfolio_grid.html %}
  {% include about.html %}
  {% include edu_work.html %}

  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>

</html>

<!--

    언어 변경 버튼
    <details>
      <summary>English</summary>
    영어 설명 -
      <p>Project description in English...</p>
    </details>
  
    <details>
      <summary>한국어</summary>
       한국어 설명 
      <p>프로젝트 설명을 한국어로...</p>
    </details>


-->